priority -50

snippet tableflip "(╯°□°）╯︵ ┻━┻"
(╯°□°）╯︵ ┻━┻$0
endsnippet

snippet abspath "absolute path to the current file"
`!v expand('%:p')`
endsnippet

snippet date "Current date"
`!v strftime('%Y-%m-%d')`
endsnippet
