priority 10

snippet = "<%= %>"
<%= $0 %>
endsnippet

snippet % "<% %>"
<% $0 %>
endsnippet

snippet if "<% if %><% end %>"
<% if $1 %>
	$0
<% end %>
endsnippet

snippet js "<%= javascript_tag do %>"
<%= javascript_tag do %>
	$0
<% end %>
endsnippet
