snippet rf "React Functional Component" b
import React from 'react';

const ${1:`!v expand('%:t:r')`} = (${2:{...props}}) => {
	return (
	  $3
	);
}

export default $1;
endsnippet


snippet ue "useEffect()" b
useEffect(() => {
	let didCancel = false;

  $0

	return () => {
		didCancel = true;
	};
}, []);
endsnippet
